<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all tourneys</title>
    <link href="/player.css" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon" th:href="@{favicon.ico}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" th:href="@{favicon.ico}">
</head>
<body>

<table class="langs">
    <tr>
        <td><h3 th:text="#{lang-switcher-header}">Select language</h3></td>
        <td>
            <table class="langs1">
                <tr>
                    <td><a href="#" th:href="@{/tourney(lang=en, competition_id=${competition_id})}" th:text="#{en-lang-switch-button-caption}">Language-EN</a></td>
                    <td><a href="#" th:href="@{/tourney(lang=ru, competition_id=${competition_id})}" th:text="#{ru-lang-switch-button-caption}">Language-RU</a></td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<h3 th:text="#{tourneys-table-header}">Tourneys:</h3>

<table class="players">
    <thead>
    <tr>
        <th th:text="#{player-field-id}">ID</th>
        <th th:text="#{tourney-field-competition} + '/' + #{tourney-field-title}">Competition/Title</th>
        <th th:text="#{tourney-field-type}">Type</th>
        <th th:text="#{tourney-field-rank}">Rank</th>
        <th th:text="#{tourney-field-stage}">Stage</th>
        <th th:text="#{players-table-column-action}">Action</th>
        <th th:text="#{players-table-column-action}">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tourney : ${tourneys}">
        <td th:text="${tourney.id}">1</td>
        <td><a th:href="@{/tourneyplayer(competition_id=${tourney.competitionId}, tourney_id=${tourney.id})}" th:text="${tourney.competitionDto.title}+'/'+${tourney.title}">Championship/Tourney</a></td>
        <td th:text="${tourney.type.name}">Circle</td>
        <td th:text="${tourney.rank.name}">Final I</td>
        <td th:text="${tourney.stage.name}">Finals</td>
        <td>
            <a th:href="@{/tourney(id=${tourney.id}, competition_id=${tourney.competitionId})}" href="tourney_edit.html" th:text="#{edit-button-caption}">Edit</a>
        </td>
        <td>
            <form id="delete-form" th:action="@{/tourney/{id}(id=${tourney.id}, competition_id=${tourney.competitionId})}" th:method="delete">
                <button type="submit" th:text="#{delete-button-caption}">Delete
                </button>
            </form>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <a th:href="@{/tourney(id=0, competition_id=${competition_id})}" href="tourney_create.html" th:text="#{create-button-caption}">Create</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/competition}"  href="competitions.html"><h3 th:text="#{back}">Back</h3></a>
</body>
</html>
