<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{d-MM-yyyy HH:mm:ss.SSS}){blue} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
<!--    <appender name="ConsoleSql" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>%clr(%d{dd-MM-yyyy HH:mm:ss.SSS}){blue} [%thread] %-5level  %clr([SQL]){yellow} %m%n%wEx</Pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>TRACE</level>-->
<!--        </filter>-->
<!--    </appender>-->
    <logger name="org.hibernate.SQL" level="TRACE" additivity="false">
        <appender-ref ref="ConsoleSql"/>
    </logger>
<!--    <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="ConsoleSql"/>-->
<!--    </logger>-->
    <appender name="ConsoleRest" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%clr(%d{dd-MM-yyyy HH:mm:ss.SSS}){blue} %m%n%wEx</Pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <logger name="ru.otus.hw.contollers.RestInterceptor" level="INFO" additivity="false">
        <appender-ref ref="ConsoleRest"/>
    </logger>
    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
